.ErrorMsg {
  text-align: center;
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  background-color: hsla(0, 0%, 0%, 0.371);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  span {
    padding: 4px 8px;
    background-color: yellow;
    text-shadow: 0 0 10px 0 black;
  }
}
