.NotesPage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
