.Modal {
  position: fixed;
  width: 100vw;
  height: 100vh;

  background-color: hsla(0, 0%, 0%, 0.632);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal .Message {
  font-size: 30px;
  color: red;
}
