.Counter {
  padding: 25px;
  background-color: white;
  box-shadow: 0 0 10px black;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  user-select: none;
}

.actionsContainer {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  button {
    padding: 4px 8px;
  }
}
