.AddImage {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  background-color: rgb(231, 220, 177);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  input {
    border: none;
    border-radius: 5px;
    padding: 2px 4px;
    font-size: 22px;
    outline: black;
  }
  h1 {
    font-size: 30px;
  }
  button {
    border: none;
    background-color: hsl(104, 100%, 72%);
  }
  button:hover {
    background-color: hsl(104, 100%, 60%);
  }
  button:active {
    outline: none;
    box-shadow: 0 0 10px 0 green;
  }
  img {
    width: 100px;
  }
}
