.UnitList {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  background-color: rgba(220, 220, 220, 0.207);
  border-radius: 8px;
  padding: 40px 50px;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.395);
}

.UnitList .Unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 8px;
  padding: 10px 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.395);
}
