.MissionItem {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-radius: 10px;
}

.MissionItem .info {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.MissionItem .ActionButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  button {
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
  }
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

.red {
  background-color: #d9534f;
}

.green {
  background-color: #50e140;
}

.InProgress {
  background-color: #c07d00;
}

.Pending {
  background-color: #950000;
}

.Completed {
  background-color: #009314;
}
