.ImageCard {
  padding: 20px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 500px;
  background-color: rgb(235, 235, 235);
}

.ImageCard img {
  height: 200px;
  object-fit: contain;
}
.ImageCard img:hover {
  box-shadow: 0 0 8px 0 black;
}
.ImageCard img:active {
  box-shadow: 0 0 18px 0 black;
}

.ImageCard .LikeBtn {
  background-color: white;
  display: flex;
  gap: 10px;
}

.ImageCard .LikeBtn:hover > span:nth-child(1) {
  display: inline-block;
  animation: beat 0.4s infinite alternate;
  transform-origin: center;
}

.ImageCard .ImageDetailsDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@keyframes beat {
  to {
    transform: scale(1.8);
  }
}
