.MemoryApp {
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
}

.MemoryApp .info {
  display: flex;
  justify-content: space-around;
  background-color: honeydew;
  padding: 20px;
  h3 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
