.NoteComponent {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  background-color: rgba(208, 208, 208, 0.43);
  max-width: 300px;
}

.NoteComponent .DelBtn {
  /* background-color: red; */
}
